@charset "utf-8";
/* CSS Document */

.user-feed .feed-new-post{
	background: #e7e7e780;
	margin: 15px 0;
	padding: 10px 15px;
}

.user-feed .feed-new-post textarea {
    width: 96%;
    height: 50px;
    border-radius: 3px;
    border: 1px solid #e1e1e1;
    padding: 10px;
    transition: height 0.25s linear;
    resize: none;
}

.user-feed .feed-new-post textarea:focus {
    border: 1px solid #5d5d5d;
    box-shadow: none;
    outline: none;

}
.user-feed .post-panel{
    margin-top: 10px;
    padding-bottom: 50px;
}
.user-feed .post-panel .button{
    float: right;
    margin-left: 5px;
}



.user-feed .feed-new-post .uploaded_photos .single {
    width: 150px;
    margin: 10px 10px 0 0;
    border: 1px solid #ffffff;
    display: inline-block;
    background: #fff;
    position: relative;
    box-shadow: 2px 2px 2px 1px;
    padding: 10px 0;
}
.user-feed .feed-new-post .uploaded_photos .single img {
    width: 100%;
    padding: 3px;
}
.user-feed .feed-new-post .uploaded_photos .single .remove {
    height: 18px;
    width: 18px;
    position: absolute;
    right: 2px;
    top: 2px;
    background: #da4453;
    color: #fff;
    font-size: 15px;
    line-height: 15px;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    -webkit-transition: background-color 0.3s linear;
    -moz-transition: background-color 0.3s linear;
    -o-transition: background-color 0.3s linear;
    transition: background-color 0.3s linear;
}
.user-feed .feed-new-post .uploaded_photos .single .remove:hover {
    background: #363636;
}
.user-feed .feed-new-post .uploaded_photos img {
    width: 100%;
    padding: 3px;
}

/* .media-modal {
    width: 37%;
    margin: 0 auto;
}
.media-modal .attachments .attachment {
    width: 10%;
    min-width: 180px;
} */

